{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["transform-define", "./env-config.js"],
    ["inline-import-data-uri", {
      "extensions": [
        ".html",
        ".svg",
        ".png",
        ".jpg"
      ]
    }]
  ]
}